extends layout

block content
  h2.page-header Register
  p Register using the form to start with. Have an account?
    a(href='/users/login')  Login
  if errors
   each error, i in errors
    p.alert.alert-danger #{error.msg}
  form(method='post',action='/users/register',enctype='multipart/form-data')
   .form-group
    label Name
    input.form-control(name='name',type='text',placeholder='Enter your Name',autocomplete='name')
   .form-group
    label Email
    input.form-control(name='email',type='email',placeholder='Enter your Email',autocomplete='email')
   .form-group
    label Username
    input.form-control(name='username',type='text',placeholder='Enter Username',autocomplete='username')
   .form-group
    label Password
    input.form-control(name='password',type='password',placeholder='Enter Password',autocomplete='new-password')
   .form-group
    label Confirm Password
    input.form-control(name='password2',type='password',placeholder='Confirm Password',autocomplete='new-password')
   .form-group
    label Profile Image
    br
    input.form-control-file(name='profileimage',type='file')
   input.btn.btn-primary.btn-rounded(type='submit',value='Register',name='submit')
